---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@utils/format"
interface Props {
  blog: CollectionEntry<"blogs">
  map: Map<string, CollectionEntry<"folders">>,
}
const { blog, map } = Astro.props;
---

<li class="py-4 border-b">
  <a href={"/blogs/" + blog.slug} class="font-bold text-2xl transition">{blog.data.title}</a>  
  <div class="flex items-center gap-2 my-2 text-sm">
    <span>{formatDate(blog.data.date)}</span>
    <span>&bull;</span>
    <a href={"/folders/" + blog.data.folder.id} class="py-1 px-2 bg-purple-600 text-white rounded">{map.get(blog.data.folder.id).data.name}</a>
  </div>
  <p class="text-gray-500">{blog.data.description}</p>
  <div>
    <a href={"/blogs/" + blog.slug} class="link">Read more ...</a>
  </div>
</li>