---
import { getCollection, getEntry } from "astro:content"

import Layout from "@layouts/Layout.astro"

// get all blogs
const blogs = await getCollection("blogs", ({ data }) => {
	return data.draft === false
})

// sort blogs according to date
const sorted = blogs.sort((a, b) => a.data.date.getTime() - b.data.date.getTime())

const intro = await getEntry("info", "intro")
const { Content: Intro } = await intro.render()
---

<Layout
	title="ppalone/blog"
	description="Welcome to Pranjal's digital garden"
>
	<p class="my-4">
		<Intro />
	</p>

	<!-- Blog posts -->
	<div class="my-4">
		<div>
			<h2>Blog</h2>
		</div>
		{
			sorted.map(blog => {
				return <div>
					<a href={"/blogs/" + blog.slug}>{blog.data.title}</a>
				</div>
			})
		}
	</div>
	
</Layout>