---
import Layout from "@layouts/Layout.astro"
---

<Layout
	title="🌱 Pranjal's digital garden"
	description="Welcome to Pranjal's digital garden"
>
	<p>Welcome to Pranjal's digital garden 🌱</p>
</Layout>