---
import { getCollection, getEntry } from "astro:content"

import Layout from "@layouts/Layout.astro"
import BlogItem from "@components/astro/BlogItem.astro";

// get all blogs
const blogs = await getCollection("blogs", ({ data }) => {
	return data.draft === false
})

// sort blogs according to date
const sorted = blogs.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const intro = await getEntry("info", "intro")
const { Content: Intro } = await intro.render()
---

<Layout
	title="ppalone/blog"
	description="Welcome to Pranjal's digital garden"
>
	<p class="my-4">
		<Intro />
	</p>

	<!-- Blog posts -->
	<div class="my-4">
		<div>
			<h2 class="text-2xl">Posts</h2>
		</div>
		<ul class="flex flex-col">
			{
				sorted.map(blog => {
					return <BlogItem blog={blog} />
				})
			}
		</ul>
	</div>
	
</Layout>