.markdown-content p {
  @apply my-4
}

.markdown-content pre {
  @apply p-4 text-sm rounded-sm relative my-4
}

.markdown-content h1,
h2,
h3 {
  @apply my-4
}

.markdown-content h1 {
  @apply text-4xl
}

.markdown-content h2 {
  @apply text-2xl font-bold
}

.markdown-content h3 {
  @apply text-xl font-bold
}

.markdown-content .copy-code {
  @apply border text-sm rounded-sm p-2 absolute top-1 right-1 bg-white
}

.markdown-content blockquote {
  @apply p-4 border bg-gray-50 border-l-4 rounded-sm my-4
}

.markdown-content table {
  @apply w-full
}

.markdown-content table th, td {
  @apply p-2 border
}